.hidden {
  display: none;
}
.universal_table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pagination {
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
}
.mytable {
  border: 2px solid black;
  padding: 10px;
  overflow: scroll !important;
}
.column_order {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}
/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

/* Style for the data rows */
.table tbody tr {
  cursor: pointer;
}

/* Style for selected rows */
.table tbody tr.selected {
  background-color: #a9def9;
}

/* Style for column resizing handle */
.react-table-resizable .react-resizable-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}
tbody tr:hover  td {
  background-color: #eee !important;
}
.table_responsive {
  min-height: 300px;
}