.settings_button {
  width: 250px;
  border: none;
  height: 40px;
  background: rgb(10, 169, 237);
  color: white;
  opacity: 50%;
  position: relative;
}
.settings_button:hover {
  background-color: rgb(1, 98, 255) ;
}
.active_button {
  background: rgb(1, 98, 255) !important;
  opacity: 1;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings {
  width: 100%;
  padding: 10px;
  display: flex;
  background: #f2f2f2;
}
.settings .content {
  display: flex;
  height: 99%;
  width: 99%;
  gap: 10px;
  border-radius: 18px;
  padding: 10px;
  background: #fff;
}
.right {
  display: flex;
  width: 80%;
  padding: 20px;
  background-color: #eee;
  border-radius: 8px;
}
.btn_panel {
  width: 250px;
  height: 80px;
  border: none;
  background: orange;
  color: #fff;
  font-size: 20px;
}
