.settings_button {
  width: 228px;
  height: 36px;
  border: none;
  background: #9dc8e2;
  padding: 6px 12px;
  margin: 0px 6px 6px;
  color: #fff;
  font-size: 12px;
  text-align: start;
}
.settings_button span {
  font-size: 17px;
}
.settings_button:hover {
  background-color: #2184be ;
}
.active_button {
  background: #2184be !important;
  opacity: 1;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 238px;
}
.settings {
  width: 100%;
  padding: 10px;
  display: flex;
  background: #f2f2f2;
}
.settings .content {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 10px;
  background: #fff;
}
.right {
  /*border: 1px solid red;*/
  display: flex;
  width: 80%;
  padding: 20px;
  background-color: #eee;
  border-radius: 8px;
}
.btn_panel {
  width: 228px;
  height: 36px;
  border: none;
  background: #f2994b;
  padding: 6px 12px;
  margin: 0px 6px 6px;
  color: #fff;
  font-size: 12px;
}

.custom_btn_success {
  background-color: #5cb85c;
  height: 100%;
  border: none;
}
.custom_btn_success svg {
  width: 30px !important;
}