.dashboard_button button {
    height: 68px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #4f626d;
    width: 100%;
}
.dashboard_button svg {
    color: #ffffff;
}
.dashboard_button i {
    color: #ffffff;
}
.dashboard_button span {
    color: #ffffff;
    transition: 0.2s all;
    font-size: 14px;
    margin: 2px 0px 0px;
}
.dashboard_button:hover {
    background-color: #4295ab;
}

.checked_dashboard_button {
    background-color: #4295ab;
}