/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.redlight {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
.greenlight {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}
.bluelight {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #393939;
}
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}
* {
    outline: none;
}
.custom_modal {
    width: 40vw;
    height: 60vh;
    background-color: gray;
    border: 2px solid ;
    position: absolute;
    display: none;
    top: 25vh;
    left: 30vw;
    border-radius: 18px;
}

.box {
	position: absolute;
  top: 50%;
  left: 50%;
}

.object {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
  animation: pulse 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position: absolute;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #50CDDD;
	box-shadow: 0px 0px 80px #0084F9;
	position: absolute;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}

#delayed {
	animation-delay: 1.5s;
}

#circlein {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #6BD6E1;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
}

.mic-icon {
	height: 60px;
	position: absolute;
	margin: 21px;
}
.active_modal {
    display: block !important;
}