@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
.button_hover:hover {
    border: 1px solid #fff !important;
    opacity: 0.5 !important;
}

.active_button_admin {
    border: 1px solid #fff !important;
}

.active_button_admin:hover {
    border: 1px solid #fff !important;
    opacity: 1 !important;
}

.left_side svg {
    width: 25px !important;
}

.left_side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.button_hover {
    display: flex;
    height: 100px !important;
}

.custom_calendar {
    width: 91px;
    height: 34px;
    padding: 6px 12px;
    margin: 8px 0px 0px;
    position: relative;
    background-color: #0a819c;
    border: 1px #097992 solid;
    display: flex;
    justify-content: space-between;
}

.custom_calendar span {
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    right: 6px;
    color: #ffffff;
}

.custom_calendar i {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #ffffff;
}
.phone_number {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0px;
    color: #fff;
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
}
.custom_dashboard_button::before {
    position: absolute;
    content: "";
    background: white;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scale(0);
    transform-origin: left;
    transition: 0.3s all;
}
.custom_dashboard_button {
    position: relative;
}
.custom_dashboard_button:hover::before {
    transform: scale(1);
}
.dashboard_clients_button{
    height: 68px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #4b5d67;
    width: 100%;
}
.dashboard_clients_button svg {
    color: #ffffff;
}
.dashboard_clients_button span {
    color: #ffffff;
    font-size: 14px;
}
.dashboard_clients_button:hover {
    background-color: #4295ab;
}
#clientDatasBox{
    width: 15%;
    height: auto;
    position: absolute;
    background-color: #465860;
    color: white;
    top: 325px;
    left: 88px;
}
#clientDatasBox p{
    width: 100%;
    border-bottom: 1px solid #688190;
    padding: 7px 10px;
    text-align: start;
    margin-bottom: 0px;
    cursor: pointer;
}
#clientDatasBox p:hover{
    background-color: #4295ab;
}
.custom_layer_admin {
    width: 100%;
    height: 105vh;
    background-color: black;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.user_box_admin {
    background-color: #405058;
    max-width: 217px;
    max-height: 109px;
    display: flex;
    flex-direction: column;
}
.custom_userbox_button {
    background: transparent;
    border: none;
    color: white;
    display: flex;
    height: 36px;
    gap: 10px;
    padding: 9px 20px;
    font-size: 12px;
    width: 217px;
    transition: 0.4s all;
}
.custom_userbox_button:hover {
    background-color: #0a819c;
}